################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GeekShooping/.vs/GeekShooping/FileContentIndex/693da866-4f2a-4acf-b498-398888638997.vsidx
/GeekShooping/.vs/GeekShooping/FileContentIndex/4c9f0571-3b58-4408-a971-6b3a8caad75b.vsidx
/GeekShooping/.vs/GeekShooping/FileContentIndex/5c620d73-c805-4ee3-b20d-901e3549f1a8.vsidx
/GeekShooping/.vs/GeekShooping/FileContentIndex/acfefeb2-bbb6-4039-b1f9-d50506c4cfdc.vsidx
/GeekShooping/.vs/GeekShooping/FileContentIndex/dc3c2f57-5540-4117-b1ca-871fba77fdcf.vsidx
